SPRING_DATASOURCE_USERNAME=

SPRING_DATASOURCE_PASSWORD=

SPRING_DATASOURCE_URL=

SPRING_DATASOURCE_DRIVER_CLASS_NAME=

SPRING_JPA_HIBERNATE_DDL_AUTO=

SPRING_JPA_PROPERTIES_HIBERNATE_DATABASE_PLATFORM=

RESEND_API_KEY=

RESEND_FROM_EMAIL=

RESEND_FROM_NAME=